* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87CEEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', sans-serif;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 10px solid #228B22;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 120px;
    position: absolute;
    bottom: 0;
}

.clouds {
    position: absolute;
    width: 300px;
    top: 50px;
    animation: clouds-animation 15s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;
}

.score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}

.game-over {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: red;
    text-shadow: 2px 2px 3px #000;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -300px;
    }

    to {
        right: 100%;
    }
}